.slideWrapper {
	padding: 80px 24px;
	width: 100%;
	max-width: 355px;
	height: 523px;
	background: var(--background-inverse);

	border: 1px solid blue;
}
.sliderContent {
	border: 1px solid blue;
	height: 363px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
}
.sliderCount {
	width: 100%;
	aspect-ratio: 307 / 107;
	overflow: hidden;
	position: relative;
}
.sliderCount p {
	position: absolute;
	top: 15px;
	left: 50%;
	transform: translateX(-50%);
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 180px;
	line-height: 60%;
	letter-spacing: -0.02em;
	text-align: center;
	color: var(--content-primaryinverse);
}

.sliderContentDescr {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
}
.sliderH3 {
	width: 100%;
	padding: 0 35px;
}
.title {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 32px;
	line-height: 87%;
	text-transform: uppercase;
	color: var(--content-primaryinverse);
}
.titleRight {
	text-align: right;
}
.description {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 133%;
	letter-spacing: -0.06em;
	color: var(--content-primaryinverse);
}
