.Advantages {
	margin-bottom: 80px;
}
.AdvantagesWrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 24px;
}
.title {
	color: rgba(26, 75, 56, 1);
	font-family: var(--third-family);
	font-size: 46px;
	font-weight: 800;
	line-height: 69px;
	letter-spacing: 0%;
	text-align: left;
}
.AdvantagesList {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
}
.advantagesItem {
	width: calc((100% - 72px) / 4);
}
.imageWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 282 / 282;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}
.image {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.AdvantagesBlock {
	aspect-ratio: 282 / 282;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 24px;
	padding: 16px;

	border-radius: 20px;
	background: rgba(26, 75, 56, 1);
}
.top {
	width: 100%;
	height: 81px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 8px;
}
.titleBlock,
.text {
	color: rgba(239, 243, 229, 1);

	font-family: var(--font-family);
	font-size: clamp(16px, calc((16 / 1280) * 100vw), 18px);
	font-weight: 700;
	line-height: clamp(22px, calc((22 / 1280) * 100vw), 27px);
	letter-spacing: 0%;
	text-align: left;
}
.text {
	font-size: clamp(14px, calc((14 / 1280) * 100vw), 16px);
	font-weight: 400;
	line-height: clamp(17px, calc((17 / 1280) * 100vw), 25px);
}
.iconBlock {
	width: 32px;
	height: 32px;
	display: flex;
	flex-shrink: 0;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 16px;
	background: var(--accent-1);
}
.icon {
	width: 20px;
	height: 20px;
	fill: var(--accent-2);
}
