.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	animation: fadeIn 0.3s ease-out;
}
.modalContent {
	background-color: var(--accent-3);
	padding: 27px;
	border-radius: 24px;
	text-align: center;
	max-width: 400px;
	width: 90%;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
	animation: slideIn 0.3s ease-out;
	position: relative;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(30px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.modalCloseBtn {
	position: absolute;
	top: 5px;
	right: 12px;
	width: 32px;
	height: 32px;
	color: var(--white);
	font-size: 42px;
	font-weight: 100;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
	z-index: 10;
}
.modalMessage {
	font-size: 16px;
	line-height: 1.5;
	color: var(--white);
	font-family: var(--font3);
	font-weight: 500;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
}
@media screen and (min-width: 768px) {
	.modalContent {
		padding: 28px 77px;
		max-width: 1000px;
		width: 90%;
	}
	.modalCloseBtn {
		width: 48px;
		height: 48px;
	}
	.modalMessage {
		font-size: 18px;
	}
}
