.cont {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 30px;
}
.wrapp {
  display: flex;
  gap: 30px;
}
.name {
  font-size: 20px;
  font-weight: 700;
}
.btn {
  max-height: 29px;
  padding: 6px;
  color: var(--accent-2);
  border-radius: 30px;
  border: 1px solid var(--accent-2);
  box-shadow: 1px 2px 4px 0px #1a4b3882;
}
