.sliderContainer {
	position: relative;
	min-height: 647px;
	height: 100dvh;
	overflow: hidden;
}
.imageWrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.imageWrapper::after {
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(36, 36, 36, 0.35);
	z-index: 1;
	pointer-events: none;
}
.image {
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.swiper {
	height: 100%;
}
.slide {
	position: relative;
}
