.sliderContainer {
	position: relative;
	min-height: 647px;
	height: 100dvh;
	overflow: hidden;
}
.imageWrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.imageWrapper::after {
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(36, 36, 36, 0.35);
	z-index: 1;
	pointer-events: none;
}
.image {
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.swiper {
	height: 100%;
}
.slide {
	position: relative;
}

/* Pagination Block */

.paginationBlock {
	position: absolute;
	bottom: 16px;
	left: 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 16px;
	width: 148px;
	height: 72px;
}

.blockBtn {
	width: 96px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
}
.navButton {
	padding: 10px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 1;
	border-radius: 50%;
	border: 2px solid var(--fone-1);
}

.navButton_icon {
	fill: var(--fone-1);
	min-width: 24px;
	height: 24px;
	transform: translateX(-3px);
}
.right {
	transform: translateX(3px) rotate(180deg);
}

.progressBar {
	position: relative;
	flex: 1;
	width: 100%;
	max-height: 8px;
	background: var(--color-white);
	border-radius: 4px;
	overflow: hidden;
	z-index: 1;
}

.progressFill {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: var(--accent-1);
	border-radius: 4px;

	transition: left 0.4s ease;
	will-change: left;
}
@media screen and (min-width: 768px) {
	.paginationBlock {
		position: absolute;
		bottom: 40px;
		left: 64px;
		width: 384px;
		height: 87px;
	}
	.blockBtn {
		width: 112px;
	}
	.navButton {
		width: 48px;
		height: 48px;
	}
	.navButton_icon {
		min-width: 32px;
		height: 32px;
		transform: translateX(-5px);
	}
	.right {
		transform: translateX(5px) rotate(180deg);
	}
}
@media screen and (min-width: 1280px) {
	.paginationBlock {
		position: absolute;
		bottom: 40px;
		left: 120px;
	}
}
@media screen and (min-width: 1440px) {
	.paginationBlock {
		position: absolute;
		bottom: 40px;
		left: 50%;
		transform: translateX(-156%);
		z-index: 1;
	}
}
