.infoWrapper {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 134px;
	z-index: 3;
}

.infoContainer {
	/* height: calc(100dvh - 244px); */

	/* width: 833px; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 24px;
}
.title {
	height: auto;

	color: rgba(239, 243, 229, 1);

	font-family: var(--third-family);
	/* font-size: clamp(46px, calc((46 / 375) * 100vw), 64px); */
	font-size: clamp(46px, calc((100 / 1440) * 100vw), 100px);

	/* letter-spacing: 0.06em; */
	font-weight: 800;
	line-height: clamp(46px, calc((46 / 375) * 100vw), 64px);
	letter-spacing: 0%;
	text-align: left;
}

.description {
	height: fit-content;
	color: var(--fone-1);

	font-family: var(--third-family);
	/* font-size: clamp(28px, calc((28 / 375) * 100vw), 32px); */
	font-size: clamp(16px, calc((24 / 1440) * 100vw), 24px);

	font-weight: 600;
	line-height: clamp(22px, calc((26 / 1440) * 100vw), 26px);
	/* letter-spacing: -0.07em; */
	text-align: left;
}
.wrappBtns {
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 4px;
	max-width: 485px;
}

.downloadBtn {
	/* width: 100%; */
	max-width: 221px;
	height: 37px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 2px;

	border-radius: 30px;
	border: 2px solid #f4a600;
	box-shadow: 1px 2px 4px 0px #f4a60078;

	color: var(--accent-1);

	font-family: var(--font-family);
	font-size: 13px;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0%;
	/* text-align: left; */
}
.downloadBtn:hover,
.downloadBtn:active {
	border: 2px solid #eff3e5;
	color: var(--fone-1);
}
.downloadBtnCons {
	/* width: 100%; */
	max-width: 240px;
	color: #1a4b38;
	height: 37px;
	font-family: var(--font-family);
	letter-spacing: 0%;
	padding: 2px;
	/* text-align: left; */
	background: #f4a600;
	border-radius: 30px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	display: flex;
	box-shadow: 1px 2px 4px #f4a6007a;
}
@media screen and (min-width: 400px) {
	.downloadBtn,
	.downloadBtnCons {
		width: 100%;
	}
}
@media screen and (min-width: 768px) {
	.title {
		/* width: 977px; */
		/* height: 208px; */
		font-size: clamp(64px, calc((64 / 768) * 100vw), 72px);
		line-height: clamp(64px, calc((64 / 768) * 100vw), 72px);
	}
	/* .description {
		width: 715px;
		height: auto;
		font-size: clamp(20px, calc((20 / 768) * 100vw), 24px);
		line-height: 108%;
	} */
	.downloadBtn,
	.downloadBtnCons {
		/* width: 100%; */
		height: 49px;
		padding: 12px;
		font-size: 15px;
		line-height: 25px;
	}
}
@media screen and (min-width: 1280px) {
	.infoWrapper {
		margin-top: 204px;
	}
	.title {
		/* height: 208px; */
		font-size: clamp(48px, calc((48 / 1280) * 100vw), 60px);
		line-height: clamp(48px, calc((48 / 1280) * 100vw), 60px);
	}
	.downloadBtn:hover:not(:active) {
		box-shadow: 1px 2px 4px 0 rgba(131, 189, 22, 0.48);
		background: #83bd16;
	}
}
@media screen and (min-width: 1365px) {
	@supports (-webkit-appearance: none) and (not (-moz-appearance: none)) {
		.title {
			width: 100%;
		}
	}
}
