.title,
.phone {
  font-family: var(--font-family);
}
.title {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0;
}
.icon_a {
  fill: var(--fone-1);
  width: 20px;
  height: 20px;
  display: block;
}
.address {
  display: flex;
  flex-direction: column;
}
.address,
.mail {
  color: var(--fone-1);
}
