.cont {
  padding-top: 150px;
}
.iconWrap {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--color-add-2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  fill: var(--accent-2);
}
.mainImage {
  display: flex;
  justify-content: center;
  /* margin-bottom: 12px; */
}

.thumbnails {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 20px;
}

.thumb {
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.2s;
}
.youtubePlayer {
  position: relative;
  width: 100%;
  aspect-ratio: 588 / 326;
}

.youtubePlayer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "title"
    "image"
    "description";
  /* gap: 16px; */
}

@media screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image title"
      "image description";
    align-items: start;
  }
}

.title {
  grid-area: title;
}
.image {
  grid-area: image;
}
.description {
  grid-area: description;
}
