.cont {
  padding-top: 150px;
}
.titleProd {
  font-family: var(--third-family);
  color: var(--accent-2);
  padding-bottom: 16px;
  font-size: clamp(32px, calc((46 / 1440) * 100vw), 46px);
}
.price {
  font-family: var(--third-family);
  font-size: 28px;
  font-weight: 800;
  line-height: 42px;
  padding-top: 16px;
  padding-bottom: 24px;
}
.propertiesList {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 24px;
  max-width: 523px;
}
.propertiesItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  color: var(--accent-2);
  text-align: center;
}
.iconWrap {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--color-add-2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  fill: var(--accent-2);
}
.mainImage {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: clamp(343px, calc((588 / 1440) * 100vw), 588px);
  /* margin-bottom: 12px; */
}

.thumbnails {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 20px;
}

.thumb {
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.2s;
}
.youtubePlayer {
  position: relative;
  width: 100%;
  aspect-ratio: 588 / 326;
}

.youtubePlayer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.title {
  max-height: 344px;
}
.btnCertf {
  box-shadow: 1px 2px 4px 0px #f4a6007a;
  background-color: var(--accent-1);
  padding: 8px;
  border-radius: 30px;
  width: 100%;
  max-width: 343px;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  /* background: #fff;
  padding: 16px; */
  max-height: 90vh;
  overflow: auto;
  scrollbar-width: none;
}
.modal::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

@media screen and (max-width: 374px) {
  .mainImage {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-areas:
      "title"
      "image"
      "description";
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image title"
      "image description";
    align-items: start;
  }
}

.title {
  grid-area: title;
}
.image {
  grid-area: image;
}
.description {
  grid-area: description;
}
