.cont {
  padding-top: 150px;
}
.titleProd {
  font-family: var(--third-family);
  color: var(--accent-2);
  padding-bottom: 16px;
  font-size: clamp(32px, calc((46 / 1440) * 100vw), 46px);
}
.price {
  font-family: var(--third-family);
  font-size: 28px;
  font-weight: 800;
  line-height: 42px;
  padding-top: 16px;
  padding-bottom: 24px;
}
.propertiesList {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 24px;
  max-width: 523px;
}
.propertiesItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  color: var(--accent-2);
  text-align: center;
  max-width: 68px;
}
.iconWrap {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--color-add-2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  fill: var(--accent-2);
}
.mainImage {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: clamp(343px, calc((588 / 1440) * 100vw), 588px);
  /* margin-bottom: 12px; */
}

.thumbnails {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 20px;
}

.thumb {
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.2s;
}
.youtubePlayer {
  position: relative;
  width: 100%;
  aspect-ratio: 588 / 326;
}

.youtubePlayer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.title {
  max-height: 344px;
}
.btnCertf {
  box-shadow: 1px 2px 4px 0px #f4a6007a;
  background-color: var(--accent-1);
  padding: 8px;
  border-radius: 30px;
  width: 100%;
  max-width: 343px;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.description {
  height: 100%;
  max-width: 588px;
}

.tabsWrapper {
  position: relative;
}

.tabs {
  display: flex;
  justify-content: space-between;
  /* padding-bottom: clamp(16px, calc((24 / 1440) * 100vw), 24px); */
}

.tabBtn {
  font-family: var(--font-family);
  color: var(--accent-2);
  font-size: clamp(20px, calc((24 / 1440) * 100vw), 24px);
  font-weight: 700;
  background: none;
  border: none;
  padding: 12px 0;
  cursor: pointer;
  font-weight: 500;
}

.line {
  position: relative;
  height: 3px;
  background: var(--accent-2);
  margin-bottom: clamp(16px, calc((24 / 1440) * 100vw), 24px);
}

.activeLine {
  position: absolute;
  top: 0;
  height: 100%;
  width: 33.333%;
  background: var(--accent-1);
  transition: transform 0.3s ease;
}

/* позиція жовтої лінії */
.activeLine[data-tab="description"] {
  transform: translateX(0%);
  width: 25%;
}

.activeLine[data-tab="benefits"] {
  transform: translateX(80%);
  width: 33.5%;
}

.activeLine[data-tab="instruction"] {
  transform: translateX(200%);
  width: 33.5%;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  /* background: #fff;
  padding: 16px; */
  max-height: 90vh;
  overflow: auto;
  scrollbar-width: none;
}
.modal::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

@media screen and (max-width: 374px) {
  .mainImage {
    width: 100%;
  }
}
@media screen and (min-width: 580px) and (max-width: 767px) {
  .propertiesItem {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 16px;
    grid-template-areas:
      "image title"
      "image description";
    align-items: start;
  }
}

.title {
  grid-area: title;
}
.image {
  grid-area: image;
}
.description {
  grid-area: description;
}

@media screen and (min-width: 1200px) {
  .propertiesItem {
    max-width: 100%;
    width: 100%;
  }
}
