.cont {
  padding-top: 150px;
}
.iconWrap {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--color-add-2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  fill: var(--accent-2);
}
.mainImage {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.thumbnails {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 20px;
}

.thumb {
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.2s;
}

/* .thumb.active {
  border: 2px solid #0070f3;
} */
