.modalSearchWrapper {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 80px;
	background: rgba(17, 52, 26, 1);
}
/* OPEN */
.opening {
	animation: slideDown 300ms ease forwards;
}

/* CLOSE */
.closing {
	animation: slideUp 300ms ease forwards;
}

@keyframes slideDown {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translateY(-100%);
		opacity: 0;
	}
}

.searchBlock {
	width: calc(100% - 32px);
	height: 48px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 12px 16px;

	border-radius: 30px;
	box-shadow: -1px -2px 2px 0px rgba(158, 138, 121, 0.09),
		1px 2px 2px 0px rgba(158, 138, 121, 0.12);
	background: rgba(249, 249, 249, 1);
}
.blockIconSearch,
.closeSearch {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}
.iconSearch {
	width: 19px;
	height: 19px;
	fill: var(--text);
}
.iconClose {
	width: 7px;
	height: 7px;
	stroke: rgba(30, 30, 30, 1);
}
.input {
	width: 100%;
	height: 100%;
	border: none;
	background: inherit;

	color: rgba(40, 40, 40, 1);

	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0%;
	text-align: left;
}
