.gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
}

.item {
	position: relative;
	display: block;
	aspect-ratio: 384 / 384;
	overflow: hidden;
	border-radius: 8px;
}

.image {
	object-fit: cover;
}

.overlay {
	position: absolute;
	inset: 0;
	background: #22222287;
}

.title {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--fone-1);
	font-family: var(--third-family);
	font-weight: 700;
	font-size: clamp(14px, calc((14 / 375) * 100vw), calc((24 / 1280) * 100vw));

	leading-trim: NONE;
	line-height: clamp(20px, calc((20 / 375) * 100vw), calc((25 / 1280) * 100vw));
	letter-spacing: 0%;
	text-align: center;
}

@media (min-width: 768px) {
	.gallery {
		grid-template-columns: repeat(3, 1fr);
	}
	.item {
		border-radius: 20px;
	}
	/* .title {
		font-size: 24px;
		line-height: 25px;
	} */
}
