.sectionMapCall {
	margin-bottom: 48px;
}
.mapCallWrapper {
	width: 100%;
	display: flex;
	align-items: flex-start;
	gap: 24px;
}
.mapWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
}
.overlayMaps,
.callBack {
	width: calc(50% - 12px);
}
.overlayMaps {
	overflow: hidden;
	border-radius: 50px;
	width: 588px;
	height: 347px;
	box-shadow: 2px 2px 4px 0 rgba(210, 201, 181, 0.41),
		-1px -1px 4px 0 rgba(210, 201, 181, 0.19);
}
.maps {
	border: none;
	width: 588px;
	height: 347px;
}
.roadBtn {
	border-radius: 30px;
	padding: 12px 12px;
	width: 282px;
	height: 49px;
	box-shadow: 1px 2px 4px 0 rgba(244, 166, 0, 0.48);
	background: var(--accent-1);

	font-family: var(--font-family);
	font-weight: 700;
	font-size: 15px;
	line-height: 167%;
	color: var(--accent-2);
}
@media screen and (min-width: 768px) {
	.sectionMapCall {
		margin-bottom: 80px;
	}
}
