@media screen and (max-width: 767px) {
	.worksSwiper {
		width: 100%;
		max-width: 767px;
	}
	.sliderContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
	}

	.swiper {
		width: 100%;
		/* height: 448px; */
		height: auto;
		border: 1px solid red;
	}

	.slide {
		display: flex;
		justify-content: center;
		border: 1px solid green;
	}

	.worksItem {
	}

	.paginationBlock {
		display: flex;
		align-items: center;
		gap: 8px;
		width: 120px;
		height: 48px;
	}

	.navButton {
		padding: 10px;
		width: calc((100% - 8px) / 2);
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		z-index: 9;
		border: 1px solid var(--border-primary);
	}

	.navButton_icon {
		stroke: var(--content-icon);
		min-width: 16px;
		height: 16px;
		transform: rotate(-135deg);
	}
	.right {
		transform: rotate(45deg);
	}
}
