/* =========================
   Inter
   ========================= */

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter/Inter_18pt-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter/Inter_18pt-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter/Inter_18pt-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter/Inter_18pt-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter/Inter_18pt-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

/* =========================
		 Nunito
		 ========================= */

@font-face {
	font-family: "Nunito";
	src: url("/fonts/Nunito/Nunito-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Nunito";
	src: url("/fonts/Nunito/Nunito-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

/* =========================
		 PT Sans Caption
		 ========================= */

@font-face {
	font-family: "PT Sans Caption";
	src: url("/fonts/PTSansCaptions/PTSansCaption-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans Caption";
	src: url("/fonts/PTSansCaptions/PTSansCaption-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

/* =========================
		 SF Pro Text
		 ========================= */

@font-face {
	font-family: "SF Pro Text";
	src: url("/fonts/SFProText/SFProText-Semibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

/* =========================
		 Work Sans
		 ========================= */

@font-face {
	font-family: "Work Sans";
	src: url("/fonts/WorkSans/WorkSans-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Work Sans";
	src: url("/fonts/WorkSans/WorkSans-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Work Sans";
	src: url("/fonts/WorkSans/WorkSans-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
