.sectionProducts {
	margin-bottom: 48px;
}
.productType {
	display: flex;
	gap: 12px;
	margin-bottom: 8px;

	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;

	/* приховування скролбара */
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer 10+ */
}
.productPreparats {
	display: flex;
	gap: 16px;
	margin-bottom: 40px;
}
.protyctTypeBtn {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
	color: var(--accent-2);
	white-space: nowrap;
}
.yelow {
	color: var(--accent-1);
}
.labelCheck {
	display: flex;
	align-items: center;
	gap: 4px;

	font-family: var(--font-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 156%;
	color: var(--text);
}

.prodList {
	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 24px;
}

/* .prodList {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
} */

@media (min-width: 768px) {
	.sectionProducts {
		margin-bottom: 60px;
	}
	.productType {
		row-gap: 16px;
		column-gap: 32px;
		flex-wrap: wrap;
		margin-bottom: 16px;
	}
	.productPreparats {
		margin-bottom: 24px;
	}
	/* .prodList {
		grid-template-columns: repeat(4, 1fr);
	} */
}

@media (min-width: 1280px) {
	.sectionProducts {
		margin-bottom: 80px;
	}
	.productPreparats {
		margin-bottom: 16px;
	}
	/* .prodList {
		grid-template-columns: repeat(6, 1fr);
	} */
}
