.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	background-color: transparent;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.scrolled {
	background-color: var(--accent-2); /* потрібний фон */
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
.headerBlock {
	margin-top: 8px;
	margin-bottom: 8px;
	height: auto;
	/* border: 1px solid red; */
}
@media screen and (min-width: 1280px) {
	.headerBlock {
		margin-top: 16px;
		margin-bottom: 16px;
	}
}
