.mainCont {
  background-color: var(--color-state-add);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.uploadBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-2);
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid var(--accent-2);
  box-shadow: 0.5px 1px 2px 0px #1a4b3882;
  font-family: var(--font-family);
  padding: 4px;
  max-width: 156px;
  /* margin-top: 8px;
  margin-bottom: 8px; */
}
.checkboxSell {
  display: flex;
  align-items: center;
  gap: 4px;
}
/* .inpCheck {
  width: 24px;
} */
.btnDelete {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid var(--color-add-3);
  box-shadow: 0.5px 1px 2px 0px #1a4b3882;
  font-family: var(--font-family);
  padding: 4px;
}
