.heroCont {
	padding-top: 48px;
	padding-bottom: 48px;
}

.imgFirst {
	display: block;
	aspect-ratio: 434 / 254 !important;
	/* margin: 0 auto; */
}

.imgFirst img {
	position: relative !important;
	height: auto !important;
}
/* .imgFirst img {
	position: relative !important;
	width: clamp(343px, calc((588 / 1440) * 100vw), 588px) !important;
	aspect-ratio: 588 / 363 !important;
} */
.title {
	font-family: var(--third-family);
	color: var(--accent-2);
	padding-bottom: 32px;
	font-size: clamp(32px, calc((46 / 1440) * 100vw), 46px);
	text-align: left;
	font-weight: 800;
	font-style: ExtraBold;
	line-height: 52px;
	letter-spacing: 0%;
}

.mainCont {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.child {
	flex: 1;
}
.textFirst,
.textSec {
	font-size: 16px;
	font-family: PT Sans Caption;
}
.textFirst {
	padding-bottom: 24px;
}
.btnAbout {
	width: 214px;
	height: 37px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 8px 32px;

	border-radius: 30px;
	box-shadow: 1px 2px 4px 0px rgba(244, 166, 0, 0.48);
	background: rgba(244, 166, 0, 1);

	color: rgba(26, 75, 56, 1);

	font-family: var(--font-family);
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0%;
	text-align: left;
	margin-top: 16px;
}
.btnAbout:active {
	box-shadow: 1px 2px 4px 0 rgba(26, 75, 56, 0.51);
	background: #7aaa8d;
}
.btnAbout:hover:not(:active) {
	box-shadow: 1px 2px 4px 0 rgba(131, 189, 22, 0.48);
	background: #83bd16;
}
.textName {
	color: #1a4b38;
	font-size: 20px;
	font-weight: 700;
	font-style: Bold;
	line-height: 100%;
	letter-spacing: 0%;
	padding-top: 8px;
	padding-bottom: 4px;
}
.contText {
	display: flex;
	gap: 10px;
	padding-top: 16px;
	text-align: right;
}
.textC {
	color: #929292;
}
.elem img {
	width: 44px;
}
.animateTitle {
	opacity: 0;
	transition:
		opacity 0.8s ease-out,
		transform 0.8s ease-out;
}
.animateTitle {
	transform: translateX(-50px);
}
.animateTitle.visible {
	opacity: 1;
	transform: translateX(0);
}
.fromLeft,
.fromRight {
	opacity: 0;
	transition:
		opacity 0.8s ease,
		transform 0.8s ease;
}

.fromLeft {
	transform: translateX(-50px);
}

.fromRight {
	transform: translateX(50px);
}

.visible {
	opacity: 1;
	transform: translateX(0);
}
/* @media screen and (max-width: 374px) {
	.imgFirst,
	.imgSec {
		max-width: 310px;
	}
} */
@media screen and (min-width: 768px) {
	.heroCont {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.textFirst,
	.textSec,
	.textImg,
	.textC {
		font-size: 16px;
		font-family: PT Sans Caption;
	}
}
@media screen and (min-width: 900px) {
	.imgFirst {
		aspect-ratio: 588 / 363 !important;
	}
	.mainCont {
		flex-direction: row;
		gap: 24px;
	}
	.btnAbout {
		margin-top: 32px;
	}
}
/* @media screen and (min-width: 980px) {
	.textFirst {
		grid-area: textFirst;
	}
	.imgFirst {
		grid-area: imgFirst;
	}
	.textSec {
		grid-area: textSec;
	}
	.imgSec {
		grid-area: imgSec;
	}
	.textTh {
		grid-area: textTh;
	} */
/* .btnAbout {
		grid-area: btnAbout;
	} */
/* .mainCont {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"textFirst imgFirst"
			"textSec imgFirst"
			"imgSec textTh"
			"imgSec btnAbout";
		gap: 24px;
	} */
/* .btnAbout {
		font-size: 15px;
		width: 283px;
		height: 49px;
	}
	.btnAbout:active {
		color: var(--accent-3);
		border: 2px solid var(--accent-3);
		box-shadow: 1px 2px 4px 0px #1a4b3882;
	}
} */
