.heroCont {
  padding-top: 48px;
  padding-bottom: 48px;
}

.imgFirst,
.imgSec {
  position: relative;
  /* width: 588px;
  height: 363px; */
  display: block;
  /* width: clamp(343px, calc((343 / 588) * 100vw), 588px);
  min-height: 212px;
  height: 100%; */
  /* width: clamp(343px, 58vw, 588px); */
  width: clamp(343px, calc((588 / 1440) * 100vw), 588px);
  aspect-ratio: 588 / 363;
  margin: 0 auto;
}
.title {
  font-family: var(--third-family);
  color: var(--accent-2);
  padding-bottom: 32px;
  font-size: clamp(32px, calc((46 / 1440) * 100vw), 46px);
}
.mainCont {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.btnAbout {
  display: flex;
  color: var(--accent-2);
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 30px;
  border: 2px solid var(--accent-2);
  box-shadow: 1px 2px 4px 0px #1a4b3882;
  /* padding: 8px 32px; */
  font-family: var(--font-family);
  margin-top: 24px;
  width: 179px;
  height: 37px;
}

@media screen and (max-width: 374px) {
  .imgFirst,
  .imgSec {
    width: 310px;
  }
}
@media screen and (min-width: 980px) {
  .heroCont {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .textFirst {
    grid-area: textFirst;
  }
  .imgFirst {
    grid-area: imgFirst;
  }
  .textSec {
    grid-area: textSec;
  }
  .imgSec {
    grid-area: imgSec;
  }
  .textTh {
    grid-area: textTh;
  }
  .btnAbout {
    grid-area: btnAbout;
  }
  .mainCont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "textFirst imgFirst"
      "textSec imgFirst"
      "imgSec textTh"
      "imgSec btnAbout";
    gap: 24px;
  }
  .btnAbout {
    font-size: 15px;
    /* padding: 12px 80px; */
    width: 283px;
    height: 49px;
  }
}
