.wrappUnique {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 40px;
	color: var(--fone-1);
}

.imgFirst {
	width: 100%;
	max-width: 500px;
	background-image:
		linear-gradient(#1a1a1a99, #1a1a1a99), url("/unique/corn_mob.webp");
	aspect-ratio: 343 / 875;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 26px;
}
.contText {
	padding: 16px;
}

.title {
	text-align: left;
}
.list {
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.item span {
	color: var(--accent-1);
}
.text {
	color: var(--fone-1);
}
.animateTitle {
	opacity: 0;
	transition:
		opacity 0.8s ease-out,
		transform 0.8s ease-out;
}
.animateTitle {
	transform: translateX(-50px);
}
.animateTitle.visible {
	opacity: 1;
	transform: translateX(0);
}
.fromLeft,
.fromRight {
	opacity: 0;
	transition:
		opacity 0.8s ease,
		transform 0.8s ease;
}

.fromLeft {
	transform: translateX(-50px);
}

.fromRight {
	transform: translateX(50px);
}

.visible {
	opacity: 1;
	transform: translateX(0);
}

@media screen and (min-width: 768px) {
	.wrappUnique {
		padding-bottom: 80px;
	}
	.imgFirst {
		max-width: 1440px;
		background-image:
			linear-gradient(#1a1a1a99, #1a1a1a99), url("/unique/corn_desc.webp");
		aspect-ratio: 1200 / 382;
		border-radius: 20px;
	}
	.list {
		flex-direction: row;
		gap: 16px;
		justify-content: space-between;
	}
	.item {
		max-width: 239px;
	}
}
@media screen and (min-width: 1000px) {
	.contText {
		padding: 40px;
	}
}
