.wrappUnique {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 40px;
	color: var(--fone-1);
}

.imgFirst {
	width: 100%;
	max-width: 500px;
	background-image:
		linear-gradient(#1a1a1a99, #1a1a1a99), url("/unique/corn_mob.webp");
	aspect-ratio: 343 / 875;
	max-height: 875px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 26px;
}
.contText {
	padding: 16px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	text-align: left;
	max-width: 380px;
}
.list {
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding-top: 16px;
	height: 100%;
	justify-content: space-between;
	width: 100%;
	max-width: 380px;
}
.item {
	display: flex;
	flex-direction: column;
	gap: 8px;
	/* max-width: 380px; */
}
.wrapp {
	display: flex;
	gap: 8px;
	align-items: center;
}
.item h4 {
	font-family: var(--third-family);
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0%;
}
.item span {
	color: var(--accent-1);
}
.text {
	color: var(--fone-1);
	font-weight: 400;
	font-style: Regular;
	font-size: 16px;
	leading-trim: NONE;
	line-height: 25px;
	letter-spacing: 0%;
}
.animateTitle {
	opacity: 0;
	transition:
		opacity 0.8s ease-out,
		transform 0.8s ease-out;
}
.animateTitle {
	transform: translateX(-50px);
}
.animateTitle.visible {
	opacity: 1;
	transform: translateX(0);
}
.fromLeft,
.fromRight {
	opacity: 0;
	transition:
		opacity 0.8s ease,
		transform 0.8s ease;
}

.fromLeft {
	transform: translateX(-50px);
}

.fromRight {
	transform: translateX(50px);
}

.visible {
	opacity: 1;
	transform: translateX(0);
}

@media screen and (min-width: 768px) {
	.wrappUnique {
		padding-bottom: 80px;
	}
	.imgFirst {
		max-width: 1440px;
		background-image:
			linear-gradient(#1a1a1a99, #1a1a1a99), url("/unique/corn_desc.webp");
		aspect-ratio: 1200 / 382;
		border-radius: 20px;
	}
	.title {
		min-width: 100%;
	}
	.list {
		flex-direction: row;
		gap: 16px;
		justify-content: space-between;
		padding-top: 24px;
		max-width: 1480px;
	}
	.item {
		max-width: 239px;
	}
	.wrapp {
		align-items: start;
	}
	.item h4 {
		padding-bottom: 8px;
	}
}
@media screen and (min-width: 1000px) {
	.contText {
		padding: 40px;
	}
}
