.footer {
	background-color: var(--accent-footer);
	color: var(--fone-1);
}
.wrappFooter {
	padding: 24px 16px;
}
.contFooter {
	display: grid;
	grid-template-columns: auto 1fr auto auto;
	align-items: start;
	gap: 24px;
	grid-template-columns: 1fr auto;
	grid-template-areas:
		"logo logo"
		"nav socials"
		"contacts contacts";
}
.logo {
	grid-area: logo;
}

.nav {
	grid-area: nav;
}

.contacts {
	grid-area: contacts;
}

.socials {
	grid-area: socials;
	align-self: start;
}
.logoImage {
	width: clamp(45px, calc((81 / 1440) * 100vw), 81px);
}
.prodD,
.socD {
	display: none;
}

.rights {
	color: #7aaa8dba;
	font-size: clamp(12px, calc((16 / 1440) * 100vw), 16px);
	padding-top: 16px;
}
@media screen and (max-width: 360px) {
	.contFooter {
		gap: 8px;
	}
}
@media screen and (min-width: 680px) {
	.wrappFooter {
		padding: 24px 64px;
	}
}
@media screen and (min-width: 880px) {
	/* .wrappFooter {
		max-width: 1140px;
	} */
	.contFooter {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}
	.prodD,
	.socD {
		display: flex;
	}
	.prodM,
	.socM {
		display: none;
	}
	.rights {
		padding-top: 24px;
	}
}
@media screen and (min-width: 1440px) {
	.contFooter {
		/* justify-content: start; */
		padding: 24px 0px;
	}
	/* .nav {
		padding-left: 123px;
		padding-right: 212px;
	} */
	/* .socials {
		padding-left: 75px;
	} */
}
