.benefit {
  display: flex;
  align-items: start;
  gap: 8px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 20px;
  background-color: var(--color-add-search);
}
.text {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 25px;
}
