.sectionEfficiency {
	margin-bottom: 80px;
}
.EfficiencyWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 24px;
}
.title {
	color: rgba(26, 75, 56, 1);

	font-family: var(--third-family);
	font-size: 46px;
	font-weight: 800;
	line-height: 69px;
	letter-spacing: 0%;
	text-align: left;
}
.content {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 24px;
}
.text {
	color: rgba(40, 40, 40, 1);

	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0%;
	text-align: left;
}
.text,
.imageWrapper {
	width: calc(50% - 12px);
	aspect-ratio: 588 / 393;
}
.imageWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	overflow: hidden;
	position: relative;
}
.image {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
